<!doctype html>
<html lang="en" class="pico">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fuchsia.min.css"
  >
    <title>table</title>
  </head>
<body>
    <center>    <main class="container">
        <table class="striped" style="table-layout: fixed; overflow: hidden;">
            <thead style="  text-align: center;">
                <tr style="  text-align: center;">
                    <th scope="row" style="  text-align: center;">Track</th>
                    <th style="  text-align: center;">Artist</th>
                </tr>
            </thead style="  text-align: center;">
            <tbody style="  text-align: center;">
                {% for i in range(length) %}
                <tr style="  text-align: center;">
                    <td style="  text-align: center;">{{ queue[i].track }}</td>
                    <td style="  text-align: center;">{{ queue[i].artist }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table></center></main>
</body>
</html>
