<!doctype html>
<html lang="en" class="pico">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fuchsia.min.css"
  >
    <title>table</title>
  </head>
<body>
  <center>
    <main class="container">
      <table class="striped" style="table-layout: fixed; overflow: hidden; text-align: center;">
        <thead>
          <tr>
            <th scope="col" style="table-layout: fixed; overflow: hidden; text-align: center;">Track</th>
            <th scope="col"style="table-layout: fixed; overflow: hidden; text-align: center;">Artist</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(length) %}
          <tr>
            <td style="table-layout: fixed; overflow: hidden; text-align: center;">
              <a href="{{ queue[i].track_link }}" target="_blank" rel="noopener noreferrer">
                {{ queue[i].track }}
              </a>
            </td>
            <td style="table-layout: fixed; overflow: hidden; text-align: center;">
              <a href="{{ queue[i].artist_link }}" target="_blank" rel="noopener noreferrer">
                {{ queue[i].artist }}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </center>
</body>
</html>
